@model Admin_Student_Teacher.Areas.Identity.Pages.Account.RegisterModel.InputModel

<form method="post"
      asp-area="Identity"
      asp-page="/Account/Register">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" >
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
  @*   <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email">Email</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div> *@

    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="fw-bold">Select Role</label>

        <div class="form-check">
            <input class="form-check-input"
                   asp-for="Role"
                   type="radio"
                   value="Student"
                   checked />
            <label class="form-check-label">Student</label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                   asp-for="Role"
                   type="radio"
                   value="Teacher" />
            <label class="form-check-label">Teacher</label>
        </div>

        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">
        Register
    </button>
</form>